.fs-huge {
  font-size: 10rem;
}

.fs-big {
  font-size: 7rem;
}

.w-500px {
  width: 500px;
}

.w-300px {
  width: 300px;
}

.lxgw-wenkai-tc-regular {
  font-family: "LXGW WenKai TC", cursive;
  font-weight: 400;
  font-style: normal;
}
